/* This file is for your main application css. */
.dwyl-teal{
  color: #4ABDAC;
}

.dwyl-red{
  color: #FF9C9C;
}

.bg-dwyl-teal{
  background-color: #4ABDAC;
}

.bg-dwyl-red{
  background-color: #FF9C9C;
}

.w3-5{
  width: 3.5rem;
}

.w3-8{
  width: 7.1rem;
}

.mw3-5{
  max-width: 4.2rem;
  min-width: 4.2rem;
}

.h-image{
  max-height: 3.7rem;
  min-height: 3.7rem;
}

.w-image{
  max-width: 2.5rem;
  min-width: 2.5rem;
}

.dark-grey{
  color: #4D4D4D;
}

.medium-grey{
  color: #626262;
}

.light-grey{
  color: #EBEBEB;
}

.f-dark-grey{
  fill: #4D4D4D;
}

.f-dwyl-teal{
  fill: #4ABDAC;
}

.f-dwyl-red{
  fill: #FF9C9C;
}

.f-white{
  fill:#FFF;
}

.bg-light-grey{
  background-color: #EBEBEB;
}

.bs-bb{
  box-sizing: border-box;
}

.fg1{
  flex-grow: 1;
}

.focus-light-grey:focus{
  background-color: #f4f4f4;
}

.sr-only {
  color: red;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
}
